@charset "utf-8";
body {
	margin : 0vh 0vw;
	background-color : #BDD6E0; 
	box-sizing: border-box;
	overflow-x: hidden;
}
.compdesc{
	position: absolute;
	top: 7.7vw;
	left: 50vw;
	background-color: white;
	display: block;
	width: 0vw;
	overflow: hidden;
	white-space: nowrap;
	height: 0vw;
	border-radius: .2vw;
}
.compdesc p {
	padding-left: .9vw;
	margin-top: .8vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 1.4vw;
	text-align: center;
	color: #5200E0;
	font-weight: bold;
}
.login_container {
	display: block;
	position: absolute;
	top: 12.5vw;
	left: 50vw;
	height: 0vw;
	width: 0vw;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 3px 4px 1px grey;
	border-top-left-radius: .2vw;
	border-top-right-radius: .2vw;
}
.login_container .img_container{
	padding-top: .5vw;
	padding-left: 28.5vw;
	height: 2vw;
	width: auto;
	display: block;
	float: left;
}
.login_container p {
	float: left;
	font-size: 1.8vw;
	padding: .5vw;
	margin:0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #5200E0;
	font-weight: bolder;
}
.smenu {
	position: absolute;
	top: 12vw;
	left: 50vw;
	height: 0vw;
	width: 0vw;
	background-color: white;
	z-index: -1;
	border-top:none;
	box-shadow: 0 5px 4px 1px grey;
	overflow: hidden;
	border-bottom-left-radius: .2vw;
	border-bottom-right-radius: .2vw;
}
.smenu1 {
	position: absolute;
	background-color: #6890FF;
	left:0;
	top:0;
	width: 25vw;
	height: 27vw;
	box-shadow: 2px 0 3px 2px rgba(0,0,0,0.28);
	overflow: hidden;
}
.smenu1_1{
	position: absolute;
	top: 1.5vw;
	left: 0vw;
	margin-left: 3vw;
	margin-top: .5vw;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 2.2vw;
	font-weight: bolder;
	overflow: hidden;
}
.smenu1_2{
	position: absolute;
	display: block;
	top: 6vw;
	left: 0vw;
	margin-left: 1.5vw;
	margin-top: .5vw;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 1.2vw;
	margin-right: 2vw;
}
.smenu1_3{
	position: absolute;
	display: block;
	top: 19vw;
	left: 0vw;
	margin-left: 4vw;
	margin-top: .5vw;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 1.2vw;
	margin-right: 2vw;
	font-weight: bold;
}
.btn1 {
	position: absolute;
	display: block;
	top: 21vw;
	left: 5.5vw;
	margin-left: 0vw;
	margin-top: .5vw;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-right: 2vw;
	font-weight: bold;
	background-color: #6890FF;
	border: 1px solid white;
	font-size: 2vw;
	padding: .3vw 0vw;
	border-radius: 4vw;
	width: 14vw;
}
.btn1:hover{
	cursor: pointer;
	background-color: #3369FF;
}
.smenu2{
	position: absolute;
	left:25vw;
	top:0;
	width: 45vw;
	height: 27vw;
	background-color: white;
	z-index: -2;
}
.smenu2_1{
	position: absolute;
	top: 1.5vw;
	left: 13vw;
	margin-left: 0vw;
	margin-top: 0.5vw;
	color: #6890FF;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 2.2vw;
	font-weight: bolder;
}
.smenu2_2{
	position: absolute;
	margin: 0;
	left: 6.5vw;
	top: 6.3vw;
	font-size: 1vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: #0012A6;
}
.inp1{
	position: absolute;
	top:7.5vw;
	left:6.5vw;
	font-size: 1.5vw;
	width: 25vw;
	padding: 1vw 5vw;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	text-align: left;
	font-weight: bolder;
}
.smenu2_3{
	position: absolute;
	margin: 0;
	left: 6.5vw;
	top: 13.7vw;
	font-size: 1vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: #0012A6;
}
.inp2{
	position: absolute;
	top:15vw;
	left:6.5vw;
	font-size: 1.5vw;
	width: 25vw;
	padding: 1vw 5vw;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	text-align: left;
	font-weight: bolder;
}
.btn2{
	position: absolute;
	display: block;
	top: 21vw;
	left: 16vw;
	margin-left: 0vw;
	margin-top: .5vw;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-right: 2vw;
	font-weight: bold;
	background-color: #6890FF;
	border: 1px solid white;
	font-size: 2vw;
	padding: .3vw 3.5vw;
	border-radius: 4vw;
	box-shadow: .1vw 0vw .1vw .1vw grey
}
.btn2:hover{
	cursor: pointer;
	background-color: #3369FF;
}
.smenu2_4{
	position: absolute;
	padding: 0;
	font-size: .8vw;
	color: red;
	top:17.9vw;
	left: 12.5vw;
}
#rmenu1_1{
	position: absolute;
	left: 40vw;
	margin-left: 5.5vw;
	white-space: nowrap;
}
#rmenu1_2{
	left: 40vw;
	position: absolute;
	white-space: nowrap;
}
#rmenu1_3{
	left: 40vw;
	position: absolute;
	white-space: nowrap;
}
.error1{
	position: absolute;
	top: 50vh;
	left: 50vw;
	height: 0;
	width: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 3;
	overflow: hidden;
}
.war1{
	position: absolute;
	overflow: hidden;
	top: 50vh;
	left: 50vw;
	background-color: white;
	z-index: 3;
	transition: 6s;
	width: 0vw;
	height: 0vh;
	border-radius: .2vw;
}
.war1_img{
	position: absolute;
	height: 12vw;
	margin: .5vw 1vw;
}
.war1_head{
	position: absolute;
	left: 13vw;
	color: red;
	font-size: 1.7vw;
	font-weight: bolder;
	margin: 0;
	white-space: nowrap;
}
.war1_subhead{
	position: absolute;
	left: 12vw;
	top: 2.5vw;
	margin: 0;
	white-space: nowrap;
	color: #6890FF;
	font-size: 1.2vw;
	font-weight: bolder;
}
.war1 ul {
	position: absolute;
	left: 10vw;
	margin: 0;
	top: 4vw;
	font-weight: bolder;
	white-space: nowrap;
	font-size: 1.2vw;
}
.war1 li {
	
}
.btn3{
	position: absolute;
	bottom: .5vw;
	right: .5vw;
	color: white;
	background-color: red;
	font-size: 1.5vw;
	font-weight: bolder;
	border: .2vw solid white;
	border-radius: .5vw;
	padding: .5vw 1vw;
}
.btn3:hover{
	background-color: #FF4346;
	cursor: pointer;
}
#menutxt1{
	position: absolute;
	left: 31.5vw;
}
#menutxt2{
	position: absolute;
	left: 31.5vw;
	top: 3vw;
}
#name1{
	background-color: white;
	position: absolute;
	height: 17vw;
	width: 35vw;
	left: 32.5vw;
	top: -18vw;
	box-shadow: 0 5px 4px 1px grey;
}
.name1-1{
	position: absolute;
	margin: 0;
	left: 2vw;
	top: .5vw;
	font-size: 1vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: #0012A6;
}
.inp3{
	position: absolute;
	top:1.8vw;
	left: 2vw;
	font-size: 1.5vw;
	width: 25vw;
	padding: .5vw 2vw;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	text-align: left;
	font-weight: bolder;
}
.name1-2{
	position: absolute;
	margin: 0;
	left: 2vw;
	top: 5.5vw;
	font-size: 1vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: #0012A6;
}
.inp4{
	position: absolute;
	top: 6.8vw;
	left: 2vw;
	font-size: 1.5vw;
	width: 25vw;
	padding: .5vw 2vw;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	text-align: left;
	font-weight: bolder;
}
.name1-3{
	position: absolute;
	margin: 0;
	left: 2vw;
	top: 10.5vw;
	font-size: 1vw;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: #0012A6;
}
.inp5{
	position: absolute;
	top: 11.8vw;
	left: 2vw;
	font-size: 1.5vw;
	width: 10vw;
	padding: .5vw 2vw;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	text-align: left;
	font-weight: bolder;
}
.btn4{
	position: absolute;
	top: 11.8vw;
	left: 18vw;
	width: 10vw;
	font-size: 1.5vw;
	padding: .5vw 2vw;
	background-color: #66B032;
	border: none;
	color: white;
	font-weight: bold;
}
.btn4:hover{
	cursor: pointer;
	background-color: #6BC62A;
}
.name1-4{
	position: absolute;
	padding: 0;
	font-size: .8vw;
	color: red;
	top: 13.7vw;
	left: 2vw;
}
#nameshow{
	position: absolute;
	top: 40vw;
	height: 6vw;
	left: -35vw;
	width: 30vw;
	background-color: white;
	box-shadow: 0 5px 4px 1px grey;
	border-top-right-radius: .5vw;
	border-bottom-right-radius: .5vw;
	overflow: hidden;
}
.nameshow1{
	position: absolute;
	top: .5vw;
	left: 4.6vw;
	margin: 0;
	font-size: 1.5vw;
	color: #4D6178;
	overflow: hidden;
}
.nameshow2{
	position: absolute;
	top: 3.5vw;
	left: .5vw;
	margin: 0;
	font-size: 1.5vw;
	color: #4D6178;
	overflow: hidden;
}
#sname{
	position: absolute;
	top: .5vw;
	left: 10vw;
	margin: 0;
	font-size: 1.5vw;
	color: #6890FF;
	overflow: hidden;
}
#rnumber{
	position: absolute;
	top: 3.5vw;
	left: 10vw;
	margin: 0;
	font-size: 1.5vw;
	color: #6890FF;
	overflow: hidden;
}
#timer{
	position: absolute;
	top: -5vw;
	height: 3vw;
	left: 42vw;
	width: 16vw;
	background-color: white;
	overflow: hidden;
}
.timerhead{
	position: absolute;
	margin: 0;
	top: .2vw;
	left: 0vw;
	font-size: 2vw;
	color: #6890FF;
	font-weight: bolder;
}
#time1{
	position: absolute;
	margin: 0;
	top: .2vw;
	left: 10vw;
	font-size: 2vw;
}
.timecolon{
	position: absolute;
	margin: 0;
	top: 0vw;
	left: 12.2vw;
	font-size: 2vw;
	padding: 0;
}
#time2{
	position: absolute;
	margin: 0;
	top: .2vw;
	left: 13vw;
	font-size: 2vw;
	padding: 0;
}
#buttonplace{
	overflow: hidden;
	position: absolute;
	height: 6.8vw;
	width: 75vw;
	top : 25vw;
	right: -80vw;
	background-color: white;
	box-shadow: 0 5px 4px 1px grey;
	z-index: 0;
	padding: 0;
	margin: 0;
	/*border-top-left-radius: .5vw;
	border-bottom-left-radius: .5vw;*/
}
.btni{
	position: absolute;
	background-color: #6890FF;
	height: 2vw;
	width: 2vw;
	left: .5vw;
	top: .8vw;
	padding: 0;
	margin: 0;
	font-size: 1vw;
	border: none;
	box-shadow: 0 2px 2px 1px grey;
	color: white;
	font-weight: bold;
}
.btni:active{
	box-shadow: none;
}
.btni1{
	position: absolute;
	background-color: #6890FF;
	height: 2vw;
	width: 2vw;
	left: .5vw;
	top: 3.8vw;
	padding: 0;
	margin: 0;
	font-size: 1vw;
	border: none;
	box-shadow: 0 2px 2px 1px grey;
	color: white;
	font-weight: bold;
}
.btni1:active{
	box-shadow: none;
}
#navplace{
	position: absolute;
	height: 6.8vw;
	width: 22vw;
	top : 25vw;
	left: -25vw;
	background-color: white;
	box-shadow: 0 5px 4px 1px grey;
	z-index: -3;
}
#left1{
	padding: 0;
	margin: 0px;
	position: absolute;
	left: .5vw;
	top: .5vw;
	height: 2.5vw;
	width: 10vw;
	font-size: 1.5vw;
	font-weight: bolder;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	box-shadow: 0 2px 2px 1px grey;
}
#left1:active{
	box-shadow: none;
}
#left1:hover{
	cursor: pointer;
}
#right1{
	padding: 0;
	margin: 0px;
	position: absolute;
	left: 11.5vw;
	top: .5vw;
	height: 2.5vw;
	width: 10vw;
	font-size: 1.5vw;
	font-weight: bolder;
	background-color: #E0E5Eb;
	border: none;
	color: #4D6178;
	box-shadow: 0 2px 2px 1px grey;
}
#right1:active{
	box-shadow: none;
}
#right1:hover{
	cursor: pointer;
}
#submit1{
	position: absolute;
	top: 3.5vw;
	left: .5vw;
	width: 21vw;
	font-size: 1.5vw;
	padding: .5vw 2vw;
	background-color: #66B032;
	border: none;
	color: white;
	font-weight: bold;
	box-shadow: 0 2px 2px 1px grey;
	word-spacing: 2vw;
}
#submit1:hover{
	cursor: pointer;
	background-color: #6BC62A;
}
#submit1:active{
	box-shadow: none;
}